---
layout: base
---
<div class="section copy-log">
<!--/log-inicio-->
    <section>
        <div><h2>~/cyber bunker biteario</h2> <h3 class="date">{{ "now" | date: "%Y-%m-%d %H:%M" }}</h3></div>
        <div class="img-container">
            <img src="{{ url.site }}/img/log/flia.jpg" alt="flia">
            <h2>F</br>L</br>I</br>A</br>
            </h2>
        </div>
            <p><a href="https://copiona.com/licuadora/2021/03/19/flor-e(s)iendo.html">~</a></p>
    </section>
    <section>
        <h2>últimos 5 proyectos que edité <3</h2>
        <ul>
          {% for post in site.posts offset: 0 limit: 5  %}
            <li>
              <div class="proyectos">
              <h3 class="date">desde {{post.born}} | última edición {{ post.last_modified_at | date_to_string }} by {{ post.author }}</h3>
              <h1><a class="sub" href="{{ post.url }}">{{ post.title }}</a></h1>
              </div>
              {{ post.excerpt }}
            </li>
            <p style="font-size: 0.8rem;"><b> ㆒</b></p>
          {% endfor %}
        </ul>
    </section>

    <section>
        <h2>~/</h2>
        <ul>
            {% assign curDate = site.time | date: '%x' %}

        {% for category in site.categories %}
          <li><a name="{{ category | first }}">{{ category | first }}</a>
            <ul>
            {% for post in category.last %}
                        {% assign postLastDate = post.last_modified_at | date: '%x' %}
                {% if postLastDate == curDate  %}
                <!-- highlight para los ultimos editados-->
                    <li class="btn-2"><a href="{{ post.url }}">{{ post.title }}</a> - Nuevos cambios! </li>
              {% else %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
          </li>
        {% endfor %}
        </ul>
    </section>
<!--<p>Build: "commit: #JAJA esto no anda todavía (solo todavía)"</p>-->
<!--    https://github.com/NARKOZ/git-revision //no funciona todavia y no sé por qué
    <p>Build: "commit: #{ Git::Revision.commit } date: #{Git::Revision.date}"</p> -->
</div>
