---
layout: base-nav
---
<div class="nav">

    {% include nav.html nav=site.data.nav %}
    <div class="navButton">
            <a href="{{ url.site }}/"><p class="fuente-img">//index</p></a>
    </div>
</div>
