---
layout: base
title: ~/dat
---
	<div class="section copy-log">
		<!--/zinenauta-->
		<section>
			 <div><h2>{{ page.title }}</h2> <h3 class="date">31.05.2020</h3></div>
			<!--<div class="img-container">
				<img src="{{ url.site }}/img/links-2.png" class="lllinks">
			</div>-->
			<video autoplay="autoplay" loop="loop" style="max-width: 45rem; ">
				<source src="{{ url.site }}/img/links.webm" type='video/webm; codecs="vp8, vorbis"' />
			</video>
			<div class="txt">
				<h2>Estos dats://, estan en una raspi en mi casa, pasá a visitarlos con <a href="https://beakerbrowser.com/">Beaker Browser</a></h2>
				<ul >
					<li class="sub"><p>copiona.com</p><a href="dat://647745d61d68a5b924e795593ff74b7b10c16dc3b41b2e492de1a66062b66b4b/"  target="_blank" >dat://647745d61d68a5b924e795593ff74b7b10c16dc3b41b2e492de1a66062b66b4b/</a></li>

					<li class="sub"><p>aaronswartzday2019</p><a href="dat://606dc18928d7f84e0418855a09dc5d218ce92b68cf0621766c1aa00e56efad27/"  target="_blank" >dat://606dc18928d7f84e0418855a09dc5d218ce92b68cf0621766c1aa00e56efad27/</a></li>

				</ul>
			</div>
		</section>
	</div>
