---
layout: base
title: ~/Log

---
<div class="section copy-log">
<!--/log-inicio-->
  <section>
    <div class="img-container">
        <img src="{{ url.site }}/img/log/flia.jpg" alt="flia">
        <h2>F</br>L</br>I</br>A</br>
        </h2>
    </div>
    <div class="img-container">
        <img src="{{ url.site }}/img/log/juego-cuarentena.jpg" alt="juego">
        <h2>G</br>A</br>M</br>E
        </h2>
    </div>
    <div class="img-container">
        <img src="{{ url.site }}/img/licuadora/floreciendo/floreciendo-12.jpg" alt="ciclo">
        <h2>C</br>I</br>C</br>L</br>O
        </h2>
    </div>
        <p><a href="https://copiona.com/licuadora/2021/03/19/flor-e(s)iendo.html">floreciendo</a></p>
        <div class="img-container">
            <img src="{{ url.site }}/img/log/copyfight.jpg" alt="copyfight">
            <h2>C</br>O</br>P</br>Y</br>F</br>I</br>G</br>H</br>T
            </h2>
        </div>
            <p><a href="https://copiona.com/licuadora/2021/02/06/copyfight.html">textito</a> publicado en revista <a href="http://www.boba.com.ar/">boba</a> de la plata </p>
        <div><h2>{{ page.title }}</h2></div>
        <div class="img-container">
        <h3 class="date">03.01.2021</h3>
            <img src="{{ url.site }}/img/log/z6.jpg" alt="copiona">
            <h2>Z</br>N</br>#</br>6
            </h2>
        </div>
        <div class="img-container">
        <h3 class="date">12.12.2020</h3>
            <img src="{{ url.site }}/img/log/scan.jpg" alt="copiona">
            <h2>a</br>v</br>c</br>s
            </h2>
        </div>

        <div class="img-container">
        <h3 class="date">12.11.2020</h3>
            <img src="{{ url.site }}/img/log/aveces.jpg" alt="copiona">
            <h2>a</br>v</br>c</br>s
            </h2>
        </div>
    <div class="img-container">
        <h3 class="date">02.10.2020</h3>
        <video autoplay="autoplay" loop="loop">
    		<source src="{{ url.site }}/img/log/log-5.webm" type='video/webm; codecs="vp8, vorbis"'/>
    	</video>
        <video autoplay="autoplay" loop="loop">
            <source src="{{ url.site }}/img/log/log-5.webm" type='video/webm; codecs="vp8, vorbis"'/>
        </video>
        <video autoplay="autoplay" loop="loop">
            <source src="{{ url.site }}/img/log/log-5.webm" type='video/webm; codecs="vp8, vorbis"'/>
        </video>
    </div>
    <div class="img-container">
        <h3 class="date">13.09.2020</h3>
        <img src="{{ url.site }}/img/log/fungis.jpg" alt="copiona">
        <a href="https://twitter.com/libroprestade/status/1302264848986898433?s=20"><h2>f</br>u</br>n</br>g</br>i</br>s</h2></a>
    </div>
    <div class="img-container">
        <h3 class="date">01.09.2020</h3>
        <video autoplay="autoplay" loop="loop">
    		<source src="{{ url.site }}/img/log/log-3.webm" type='video/webm; codecs="vp8, vorbis"'/>
    	</video>
        <video autoplay="autoplay" loop="loop">
            <source src="{{ url.site }}/img/log/log-3.webm" type='video/webm; codecs="vp8, vorbis"'/>
        </video>
        <video autoplay="autoplay" loop="loop">
            <source src="{{ url.site }}/img/log/log-3.webm" type='video/webm; codecs="vp8, vorbis"'/>
        </video>
    </div>
    <div class="img-container">
            <h3>#3 - 01.09.2020</h3>
        <img src="{{ url.site }}/img/log/copiona-tw.jpg" alt="copiona">
        <h2>t</br>w</br>t</br>r

        </h2>
    </div>
    <div class="img-container">
                <h3>#2 - 20.05.2020</h3>
        <img src="{{ url.site }}/img/log/invierno.jpg" alt="invierno">
        <h2>A</br>V</br>E</br>C</br>E</br>S</br>_ </br>Y</br>O

        </h2>
    </div>
    <div class="img-container">
                <h3>#1 - 28.02.2020</h3>
        <video autoplay="autoplay" loop="loop">
            <source src="{{ url.site }}/img/log/log-4.webm" type='video/webm; codecs="vp8, vorbis"'/>
        </video>
        <h3><a href="https://zinenauta.copiona.com" class="fuente-img" target="_blank">img del zinenauta</a></h3>
    </div>
  </section>



<section>
    <h2>¿Qué hace librenauta estos días?</h2>
    <ul>
      {% for post in site.posts offset: 0 limit: 3  %}
        <li">
          <div class="proyectos">
          <h3 class="date">desde {{post.born}} | última edición {{ post.last_modified_at | date_to_string }} by {{ post.author }}</h3>
          <h1><a class="sub" href="{{ post.url }}">{{ post.title }}</a></h1>
          </div>
          {{ post.excerpt }}
        </li>
        <p style="font-size: 0.8rem;"><b>/----/</b></p>
      {% endfor %}
    </ul>
</section>
</div>

<!--<canvas id="myCanvas" width="700px" height="500px"></canvas>
    <p><a href="https://hydra.ojack.xyz/?sketch_id=flor_2" target="_blank">Glitch River</a> by <a href="https://flordefuego.github.io/"target="_blank">Flordefuego :)</a> amiga de la interdimensión <a href="https://colectivo-de-livecoders.gitlab.io/" target="_blank">livecodera</a></p>-->
<!--<script src="{{ url.site }}/js/hydra-synth.js"></script>
<script>
  // create a new hydra-synth instance
  var hydra = new Hydra({
    canvas: document.getElementById("myCanvas")
  })
  //Glitch River
  //Flor de Fuego
  //https://flordefuego.github.io/
  voronoi(8,1)
  .mult(osc(10,0.1,()=>Math.sin(time)*3).saturate(3).kaleid(200))
  .modulate(o0,0.5)
  .add(o0,0.8)
  .scrollY(-0.01)
  .scale(0.99)
  .modulate(voronoi(8,1),0.008)
  .luma(0.3)
  .out()


  speed = 0.2

</script>-->
