---
layout: base
title: ~/editorial
---
<div class="section copy-log">
	<!--/zinenauta-->
	<section>
		<div><h2>{{ page.title }}</h2> <p class= "date">29.04.2020</p></div>
		<div class="txt">
			<h2>:::::::::::: pixel 2 pixel ::::::::::::</h2>
			<h3> p2p Pequeña editorial autogestiva creada con software libre y edición de pequeñas tiradas</h3>
			<p>Estas pequeñas ediciones de textos son posibles gracias al inmenso apoyo y herramientas de <a href="https://utopia.partidopirata.com.ar" target="_blank" class="fuente-img">utopia pirata</a> y <a href="https://perrotuerto.blog" target="_blank" class="fuente-img">perrotuerto con su script</a> <a href="https://gitlab.com/snippets/1917490/raw" target="_blank" class="fuente-img">export-pdf</a> </p>
				<img src="{{ site.url }}/editorial/img/parque.jpg" alt="editorial en el parque">
		</div>
	</section>
	<section>
		<div class="txt">
			<p>T2T , text to text, algunos textos para fanzinear que me interesa que circulen de fisher <3 </p>
		</div>
		<div class="img-container">
			<img src="{{ site.url }}/editorial/shanzhai-byung-chul-han/shanzhai-byung-chul-han.png" alt="shanzhai-byung-chul-han">
			<h3><a href="{{ site.url }}/editorial/shanzhai-byung-chul-han/shanzhai-byung-chul-han.svg" class="fuente-img">Descargar portada .svg</a></h3>
		</div>
		<div class="txt">
			<p>Shanzhai - Byung-Chul han | 16/10/2021</p>
			<h3><a href="{{ site.url }}/editorial/shanzhai-byung-chul-han/shanzhai-byung-chul-han.pdf" class="fuente-img">Descargar pdf (lectura digital)</a></h3>
			<h3><a href="{{ site.url }}/editorial/shanzhai-byung-chul-han/shanzhai-byung-chul-han-cover.pdf" class="fuente-img">Descargar pdf (portada)</a></h3>
			<h3><a href="{{ site.url }}/editorial/shanzhai-byung-chul-han/shanzhai-byung-chul-han_imposition.pdf" class="fuente-img">Descargar pdf (imposición imprimir)</a></h3>
			<h3><a href="{{ site.url }}/editorial/shanzhai-byung-chul-han/shanzhai-byung-chul-han.md" class="fuente-img">Descargar .md (txt plano)</a></h3>
		</div>

		<div class="img-container">
			<img src="{{ site.url }}/editorial/deseo-poscapitalista-mark-fisher/deseo-poscapitalista-cover.png" alt="deseo-poscapitalista">
			<h3><a href="{{ site.url }}/editorial/deseo-poscapitalista-mark-fisher/deseo-poscapitalista-cover.svg" class="fuente-img">Descargar portada .svg</a></h3>
		</div>
		<div class="txt">
			<p>Deseo Poscapitalista - Mark Fisher | 19/06/2020</p>
			<h3><a href="{{ site.url }}/editorial/deseo-poscapitalista-mark-fisher/deseo-poscapitalista-mark-fisher.pdf" class="fuente-img">Descargar pdf (lectura digital)</a></h3>
			<h3><a href="{{ site.url }}/editorial/deseo-poscapitalista-mark-fisher/deseo-poscapitalista-cover.pdf" class="fuente-img">Descargar pdf (portada)</a></h3>
			<h3><a href="{{ site.url }}/editorial/deseo-poscapitalista-mark-fisher/deseo-poscapitalista-mark-fisher_imposition.pdf" class="fuente-img">Descargar pdf (imposición imprimir)</a></h3>
			<h3><a href="{{ site.url }}/editorial/deseo-poscapitalista-mark-fisher/deseo-poscapitalista-mark-fisher.md" class="fuente-img">Descargar .md (txt plano)</a></h3>
		</div>

		<div class="img-container">
			<img src="{{ site.url }}/editorial/rayos-solares-barrocos/rayos-solares-barrocos-cover.png" alt="rayos-solares-barrocos">
			<h3><a href="{{ site.url }}/editorial/rayos-solares-barrocos/rayos-solares-barrocos-cover.svg" class="fuente-img">Descargar portada .svg</a></h3>
		</div>
		<div class="txt">
			<p>Rayos Solares barrocos - Mark Fisher | 11/12/2019</p>
			<h3><a href="{{ site.url }}/editorial/rayos-solares-barrocos/rayos-solares-barrocos.pdf" class="fuente-img">Descargar pdf (lectura digital)</a></h3>
			<h3><a href="{{ site.url }}/editorial/rayos-solares-barrocos/rayos-solares-barrocos-cover.pdf" class="fuente-img">Descargar pdf (portada)</a></h3>
			<h3><a href="{{ site.url }}/editorial/rayos-solares-barrocos/rayos-solares-barrocos_imposition.pdf" class="fuente-img">Descargar pdf (imposición imprimir)</a></h3>
			<h3><a href="{{ site.url }}/editorial/rayos-solares-barrocos/rayos-solares-barrocos.md" class="fuente-img">Descargar .md(txt plano)</a></h3>
		</div>
	</section>

	<section>
		<div class="txt">
			<p>SERIE #1 es una serie dedicada a cuentos cortos que involucran a la ciencia ficción. Son propuestas de realidades que se acercan a lo que vivimos hoy</p>
			<p><b>"Esta es una edición pirata, se podría imprimir en el año 2083/2087 cuando pase al dominio público, pero no sé si estaré para esa época, si el mundo aguantará, o ambas."</b></p>
		</div>
		<div class="img-container">
			<img src="{{ site.url }}/editorial/marionetas-sa_ray-bradbury/marionetas-sa-cover.png" alt="marionetas-sa">
			<h3><a href="{{ site.url }}/editorial/marionetas-sa_ray-bradbury/marionetas-sa-cover.svg" class="fuente-img">Descargar portada .svg</a></h3>
		</div>
		<div class="txt">
			<p>Marionetas sociedad anónima - Ray Bradbury | 10/09/2019</p>
			<h3><a href="{{ site.url }}/editorial/marionetas-sa_ray-bradbury/marionetas-sa.pdf" class="fuente-img">Descargar pdf (lectura digital)</a></h3>
			<h3><a href="{{ site.url }}/editorial/marionetas-sa_ray-bradbury/marionetas-sa-cover.pdf" class="fuente-img">Descargar pdf (portada)</a></h3>
			<h3><a href="{{ site.url }}/editorial/marionetas-sa_ray-bradbury/marionetas-sa_imposition.pdf" class="fuente-img">Descargar pdf (imposición imprimir)</a></h3>
			<h3><a href="{{ site.url }}/editorial/marionetas-sa_ray-bradbury/marionetas-sa.md" class="fuente-img">Descargar .md(txt plano)</a></h3>
		</div>

		<div class="img-container">
			<img src="{{ site.url }}/editorial/la-pradera_ray-bradbury/la-pradera-cover.png" alt="la-pradera">
			<h3><a href="{{ site.url }}/editorial/la-pradera_ray-bradbury/la-pradera-ray-bradbury-cover.svg" class="fuente-img">Descargar portada .svg</a></h3>
		</div>
		<div class="txt">
			<p>La pradera - Ray Bradbury | 10/09/2019</p>
			<h3><a href="{{ site.url }}/editorial/la-pradera_ray-bradbury/la-pradera.pdf" class="fuente-img">Descargar pdf (lectura digital)</a></h3>
			<h3><a href="{{ site.url }}/editorial/la-pradera_ray-bradbury/la-pradera-cover.pdf" class="fuente-img">Descargar pdf (portada)</a></h3>
			<h3><a href="{{ site.url }}/editorial/la-pradera_ray-bradbury/la-pradera_imposition.pdf" class="fuente-img">Descargar pdf (imposición imprimir)</a></h3>
			<h3><a href="{{ site.url }}/editorial/la-pradera_ray-bradbury/la-pradera.md" class="fuente-img">Descargar .md(txt plano)</a></h3>
		</div>

		<div class="img-container">
			<img src="{{ site.url }}/editorial/cassette_enrique-anderson-imbert/cassette-cover.png" alt="cassette">
			<h3><a href="{{ site.url }}/editorial/cassette_enrique-anderson-imbert/cassette-cover.svg" class="fuente-img">Descargar portada .svg</a></h3>
		</div>
		<div class="txt">
			<p>Cassette - Enrique Anderson Imbert | 10/09/2019</p>
			<h3><a href="{{ site.url }}/editorial/cassette_enrique-anderson-imbert/cassette.pdf" class="fuente-img">Descargar pdf (lectura digital)</a></h3>
			<h3><a href="{{ site.url }}/editorial/cassette_enrique-anderson-imbert/cassette-cover.pdf" class="fuente-img">Descargar pdf (portada)</a></h3>
			<h3><a href="{{ site.url }}/editorial/cassette_enrique-anderson-imbert/cassette_imposition.pdf" class="fuente-img">Descargar pdf (imposición imprimir)</a></h3>
			<h3><a href="{{ site.url }}/editorial/cassette_enrique-anderson-imbert/cassette.md" class="fuente-img">Descargar .md(txt plano)</a></h3>
		</div>
		<ul>
			{% for post in site.posts %}
			{% if post.categories contains "editorial" %}
			<li>
				<div class="proyectos">
				<h3 class="date">desde {{post.born}} | última edición {{ post.last_modified_at | date_to_string }} by {{ post.author }}</h3>
				<h1><a class="sub" href="{{ post.url }}">{{ post.title }}</a></h1>
				</div>
				{{ post.excerpt }}
			</li>
			{% endif %}
			{% endfor %}
	</section>
</div>
