---
layout: base
title: ~/shop
---
<div class="section copy-log">
<!--/log-inicio-->
    <section>
        <div><h2>{{ page.title }}</h2> <h3 class="date">08.05.2020</h3></div>
        <p>Aquí un espacio donde están algunas cosas que craneo con software libre, imprimo y vendo.</p>
        <div class="img-container">
            <img src="{{ url.site }}/img/shop.png" alt="shop">
            <h3><a href="https://shop.copiona.com" class="fuente-img" target="_blank">GO!</a></h3>
        </div>
        <div>

            <ul>
                <li><a class="sub" href="https://shop.copiona.com">shop.copiona.com</a> </li>

            </ul>
        </div>
    </section>
</div>
