---
layout: base
title: ~/diseño
---
<div class="section copy-log">
<!--/log-inicio-->
    <section>
        <div><h2>{{ page.title }}</h2> <h3 class="date">08.05.2020</h3></div>
        <div class="img-container">
            <img class="noborder" src="{{ url.site }}/img/p2.png" alt="internet">
            <img class="noborder" src="{{ url.site }}/img/p2.png" alt="internet">
            <img class="noborder" src="{{ url.site }}/img/p2.png" alt="internet">
            <h3><a href="https://ello.co/librenauta" class="fuente-img" target="_blank">Collage</a></h3>
        </div>
        <p>Diseño explora los posibles mensajes que podemos transmitir con herramientas analo/digitales, el contenido es ~infinito, ¿por qué no lo mezclamos un poco?</p>
    <div>
        <ul>
            <li class="sub"><h3 class= "date">infinito</h3><a class="sub" href="https://ello.co/librenauta" target="_blank">Cosas en ello.co (collage)</a> </li>
            <li class="sub"><h3 class= "date">infinito</h3><a class="sub" href="https://librenautablog.wordpress.com/" target="_blank">un sitio viejito</a> </li>
        </ul>
    </div>
    </section>
    <section>
        <div><h2>~/Lista de proyectos de diseño</h2> <h3 class="date"></h3></div>
    </section>
     <div>
         <ul>
             {% for post in site.posts %}
             {% if post.categories contains "diseño" %}
             <li>
                 <div class="proyectos">
                 <h3 class="date">desde {{post.born}} | última edición {{ post.last_modified_at | date_to_string }} by {{ post.author }}</h3>
                 <h1><a class="sub" href="{{ post.url }}">{{ post.title }}</a></h1>
                 </div>
             </li>
             {% endif %}
             {% endfor %}
     </div>

</div>
