---
layout: base
title: ~/proyectos
---
	<div class="section copy-log">
		<!-- /proyectos -->
		<section>
			<div><h2>{{ page.title }}</h2> <h3 class="date"></h3></div>
			<h3>esta es una listita de los proyectos que vengo haciendo desde el 2015.</h3>
			<ul>
                {% for post in site.posts %}
                {% if post.categories contains "proyectos" %}
                <li>
                    <div class="proyectos">
                    <h3 class="date">desde {{post.born}} | última edición {{ post.last_modified_at | date_to_string }} by {{ post.author }}</h3>
                    <h1><a class="sub" href="{{ post.url }}">{{ post.title }}</a></h1>
                    </div>
                </li>
				<p style="font-size: 0.8rem;"><b>/¯¯-_//¯/_/¯¯--//-///¯//-/-//¯/¯¯-___ /¯/¯/¯¯-__ /¯¯--//--//¯-// _/¯¯--//-_-//¯_/-/¯¯/¯/¯-/-/¯</b></p>
                {% endif %}
                {% endfor %}

		</section>

	</div>
