<div class="pace  pace-inactive"><div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
<div id="headlink" class="copy-grid-container">
  <div class="copy-left bkd bkd-2">
    <div class="heade-l">
        <h1><a class="a-clean" href="{{ site.url }}">~Copiona</a></h1>
        <h3>Cyborg|p2p lover</h3>
    </div>
    {% include nav.html nav=site.data.nav %}
   <footer class="btn btn-2">
     <p><a href="https://endefensadelsl.org/ppl_deed_es.html" target='_blank'>/PPL</a></p>
     <p><a href="mailto:librenauta@riseup.net">@librenauta</a></p>
   </footer>
  </div>
  <div class="copy-right bkd bkd-2">
    <div class="heade-r">
      <h1><a class="a-clean" href="https://mochila.copiona.com" target='_blank'>⌥</a></h1>
      <h2><a class="a-clean" href="{{ site.url }}" target='_blank'>-|||-</a></h2>
    </div>
      <nav class="btn btn-3">
      <p>V̶O̵R̴Á̸G̵I̷N̴E̵</p>
      <p>Empujadas a la <i>distorsión</i> cognitiva, estar en la vorágine representa el estadío de multipensar en el mundo y no tener el <i>cuerpo</i> para responder al estado de alerta con la suficiente velocidad.</p>
      </nav>
    <footer class="btn btn-1">
      <p>yo vine aquí por la imaginación</p>
    </footer>
  </div>
</div>
