<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="icon" type="image/ico" href="{{ site.url }}/favicon.ico">
		<link rel="home" href="{{ site.url }}">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/skeleton-boy.css">
		<link href="https://twitter.com/librenauta" rel="me">
		<link href="https://mastodon.social/@librenauta" rel="me">
		<link href="https://gitlab.com/librenauta" rel="me">
		<meta property=”og:image” content=”/img/meta.png” />
		{% seo %}
</head>
