<nav class="bkd bkd-2">
    {% assign navurl = page.url | remove: 'index.html' %}
    <ul>
    {% for item in include.nav %}
    <li class="navLink ">
        <a class="a-clean btn" href="{{ item.url }}">
            {% if item.url == navurl %}
            <b class="active btn-2">{{ item.text }}</b>
                {% else %}
                {{ item.text }}
                {% endif %}
        </a>
    </li>
        {% if item.subitems and navurl contains item.url %}
            {% include nav.html nav=item.subitems %}
        {% endif %}
    {% endfor %}
        <li><a class="a-clean " href='https://webring.xxiivv.com/#random' target='_blank'>/<img class="noborder" style="width: 20px;" src='https://webring.xxiivv.com/icon.black.svg'/></a>/</li>
    </ul>
</nav>
