---
layout: base
title: ~/links
---
	<div class="section copy-log">
		<!--/zinenauta-->
		<section>
			 <div><h2>{{ page.title }}</h2> <h3 class="date">08.05.2020</h3></div>
			<!--<div class="img-container">
				<img src="{{ url.site }}/img/links-2.png" class="lllinks">
			</div>-->
			<video autoplay="autoplay" loop="loop" style="max-width: 45rem; ">
				<source src="{{ url.site }}/img/links.webm" type='video/webm; codecs="vp8, vorbis"' />
			</video>
			<div class="txt">
				<h2>links de proyectos que me encantan y de algunos en los que participo</h2>
				<ul >
					<li class="sub"><a href="https://partidopirata.com.ar"  target="_blank" >partido interdimensional pirata | PIP</a></li>
					<li class="sub"><a href="https://colectivo-de-livecoders.gitlab.io/" target="_blank">colectivo de livecoders | CliC</a></li>
					<li class="sub"><a href="https://endefensadelsl.org/" target="_blank">EDSL</a></li>
					<li class="sub"><a href="https://osmiornicabiblioteca.hotglue.me/" target="_blank">Osmiornica biblioteca</a></li>
					<li class="sub"><a href="https://sutty.nl" target="_blank">Sutty</a></li>
					<li class="sub"><a href="https://ranchoelectronico.org/tag/miaudev/" target="_blank">MiauDev</a></li>
					<li class="sub"><a href="https://www.articaonline.com/" target="_blank">Ártica</a></li>
					<li class="sub"><a href="https://void.partidopirata.com.ar" target="_blank">~Void</a></li>
					<li class="sub"><a href="https://c0d3-p03try.neocities.org/" target="_blank">c0d3-p03try</a></li>
					<li class="sub"><a href="https://hydra.ojack.xyz" target="_blank">[HYDRA]~visual|live|code</a></li>
					<li class="sub"><a href="https://kenaim.tumblr.com/" target="_blank">kenaim [gif maker]</a></li>
					<li class="sub"><a href="https://solar.lowtechmagazine.com/" target="_blank">solar.lowtechmagazine</a></li>
					<li class="sub"><a href="http://editorialmatrerita.com" target="_blank">editorial matrerita</a></li>
					<li class="sub"><a href="http://brokenenglish.lol/" target="_blank">brokenenglish.lol</a></li>
					<li class="sub"><a href="http://canekzapata.net/" target="_blank">el canek</a></li>
					<li class="sub"><a href="https://colectivodisonancia.net/" target="_blank">colectivodisonancia</a></li>
					<li class="sub"><a href="https://sursiendo.org/blog/" target="_blank">sursiendo.org</a></li>
					<li class="sub"><a href="https://kiterea.com" target="_blank">kiterea by pierina <3</a></li>
					<li class="sub"><a href="https://pirateca.com" target="_blank">Pirateca, los libros no se roban ¡Se expropi@n! <3</a></li>
					<li class="sub"><a href="https://kiterea.com" target="_blank">solquemal que es solquebien! GLSL art!</a></li>
				</ul>
			</div>
		</section>
	</div>
