---
layout: base
title: ~/Biblioteca
---
<div class="section copy-log">
  <section>
    <div>
      <h2>{{ page.title }}</h2>
      <h3 class="date">{{ post.last_modified_at | date_to_string }}</h3>
    </div>
    <p>Esta es mi biblioteca personal, aunque pública :P. En este pequeño bichito de silicio y estaño están algunos textos que me interesa compartir con internet, osea ustedes. cada cierto tiempo lo actualizo con cositas nuevas. pase, miren, copien , descargue, comparta por mail, imprima y reparta a sus amigas</p>
    <ul>
      <li>-------------><a class="sub" href="http://bibliobox.librevirus.cc:8080" target="_blank">Bibliobox-librevirus</a>
      </li>
    </ul>
    <div class="img-container">
      <img src="{{ url.site }}/img/librevirus.jpg" alt="biblioteca">
      <h3><a href="https://librevirus.cc" class="fuente-img" target="_blank">PRY!</a></h3>
    </div>
  </section>
</div>
