---
layout: base
title: txt
---

<div class="section copy-log">
    <section>
        <div><h2>~/{{ page.title }}</h2>

        <h4>no les puedo | 23/07/2021</h4>
        <p>No les puedo explicar la diferencia de pasar el mediodia en la huerta los viernes y luego terminar de trabajar, a comer en esa oficina donde todo es cuadrado. Osea el homeoffice me cambio la perspectiva del sol de las 14hs</p>

        <h4>Intercambio | 22/07/2021</h4>
        <p>El internet no es un mensaje, es un intercambio de besos entre dispositivos</p>

        <h4>Plantar | 20/07/2021</h4>
        <p>Plantar semillas en un huerta comunitaria.</p>

        <h4>Por qué? | 16/07/2021</h4>
        <p>Por qué hoy nuestra visión del futuro es tan limpia y abstracta, clara y simplificada? Podemos pensar un universo abundante? Cargado? Con muchos colores?</p>

        <h4>Nevar | 15/07/2021 </h4>
        <p>Nevar es eso que pasa cuando despiertas a las 10 am y hay un silencio deacomunal, pensas; paso algo? Por qué tanto silencio? Y al mirar por la ventana ves el poste de luz de un lado completo de una capa de nieve en polvo.</p>

        <h4>Vampire | 12/07/2021</h4>
        <p>Ahora quiero ser un vampire, todos beneficios: salis de noche mientras otræs duermen, volas, y USAS CAPA NEGRA con ropa de 1790</p>

        <h4>soñé | 13/07/2021</h4>
        <p>Soñé que por un error burocrático me metían en una cárcel de amazon, y cuando me pedían firmar los acuerdos y dejar mi dni les decía: ni en pedo</p>

        <h4>ya sé | 15/01/2021</h4>
        <p>Ya sé, tu ánimo está por cambiar
Te miro desde el asiento de atrás
Tu novio es un sujeto tan agradable
Pero nunca para de hablar -el mató</p>
        <h4>yo sé | 01/01/2021</h4>
        <p>Yo se que para todes el 2020 fue horrible pero personalmente yo pase de trabajar en una oficina a estar en mi casa con mis plantas y cocinando rico todos lz días. Para mi fue hermoso.</p>

        <h4>Dominio público | 01/01/2021</h4>
        <p>Iba a festejar quién pasó al dominio público pero yafu - estoy imprimiendo cualquier cosa que quiero- copyright no existis</p>

        <h4>Robots | 30/12/2020</h4>
        <p>Cuando los robots saben bailar es que ya pasaron todas las pruebas como armas de guerra <a href="https://www.youtube.com/watch?v=fn3KWM1kuAw">(miedo)</a> </p>

        <h4>cryptoart</h4>
        <p>Separación del arte digital de la blockchain.</p>

        <h4>Sistemas | 29/12/2020</h4>
        <p>Los sistemas no se cambian de adentro, se hacen nuevos y se habitan, colectivizan</p>

        <h4>Epub | 25/12/2020</h4>
        <p>Estoy bajando una web y metiéndola en calibre y convirtiéndola en epub para pasarlo a epub3 y poder reproducir un canvas secuencia librenautera sigil 1 2 3</p>

        <h4>Navi | 24/12/2020</h4>
        <p>Esa convención de que en navidad nieva se llama colonialismo</p>

        <h4>W | 23/12/2020</h4>
        <p>El teclado siempre me sorprende, ame esta e girada que me puso en librwnauta</p>

        <h4>"Cambiar el mundo" | 19/12/2020</h4>
        <p>Y cuando creímos que el arte tomaba otro rumbo en la digitalización, llegó la blockchain. Como la blockchain no cambio el mundo económico en los últimos 10 como prometía, ahora esta buscando otras aplicaciones donde sobrevivir. Hacer obras y marcarlas de una cadena de bloques para que sea única es funcional a la escasez, funcional al mercado, al capitalismo.</p>

        <h4>VORA | 02/12/2020</h4>
        <p>Hoy mientras bajaba un lector de pdf en f-droid estaba dando vuelta una tapa de empanada en la sartén, y además estaba exportando un 3d para poder abrirlo en blender y dando vuelta la tapa de nuevo  y eso es estar en la vorágine</p>
        <h4>me gusta | 16/11/2020</h4>
        <p>Es increíble lo que me gusta hacer cosas que no sé hacer</p>

        <h4>Océanno | 12/11/2020</h4>
        <p>Océano es una palabra hermosa, creo que haré un fanzine.</p>

        <h4>hay | 09/11/2020</h4>
        <p>Hay algo no dicho todavía: cuando vamos en bici y uno va detrás de otre, se va marcando el camino como una memoria del buen paso dejando sutilmente la estela del camino más ameno, con menos altibajos y golpes.
Solo una observación del otro día en forma de recuerdo</p>

        <h4>los objetos | 04/11/2020</h4>
        <p>Vengo a proponer que se le dé más importancia a eliminar de la vida humana la necesidad cíclica e infinita de lavar los platos. Los objetos son tus amos y señores.~</p>

        <h4>Disfrutar | 20/20/2020</h4>
        <p>El ocio no es lo que se hace después de trabajar, el ocio es lo principal y todo se ordena después de eso. Trabajar con las energías que nos queden después de disfrutar nuestros días, sea mirando para afuera, mirando el techo, pensando, dibujando, programando , sembrando, fotografiando, documentando, cocinando, charlando, compartiendo, regalando,</p>

        <h4>nadie es autorx</h4>
        <p>Nadie es autor, porque todo está en constante movimiento. Nadie cristaliza nada porque al volver a hacerlo es diferente. Cercar creaciones con autoría es la respuesta por default al framework que nos moldea: el capitalismo y la propiedad privada. Me pregunto: Cuál es el límite de cercar estas cosas? Le vamos a poner derechos de autor a la forma de explicar y mover los brazos?, a caminar de alguna forma puntual? No podemos seguir esta línea. Estoy enojado con toda esta gente que quiere regular más y más, pero más me da pena la gente que dentro de ese marco defiende que hay solución , hay regulación justa, que en algún AlGUNN momento las obras van a volver al dominio público. No me jodan.</p>

        <h4>frutilla | 19/10/2020</h4>
        <p>Girlfriend by phoenix me hace acordar al sabor a frutilla que tenía en la boca una ex allá por el 2009</p>

        <h4>dispositivo | 04/10/2020</h4>
        <p>No es que no podamos expresarnos emocionalmente por estos dispositivos, es que su lenguaje se queda cortísimo a lo que estábamos acostumbradas. intentamos emular una interpretación corporal,  hablarnos sin mirarnos a los ojos todo el tiempo. no sirven estas cartas</p>

        <h4>broken FISH | 02/10/2020</h4>
        <p>𓆛𓆜𓆝𓆞𓆟</p>

        <h4>Caminar | 27/08/2020</h4>
        <p>Caminar después de la lluvia, mirar todo con mucho más contraste</p>

        <h4>inter | 11/09/2020</h4>
        <p>Pensar nuestro papel frente a los dispositivos, pensar las interfaces que habitamos, pensar que nos estamos construyendo. </p>

        <h4>somos más 12/09/2020</h4>
        <p>Redes de contención [inter]planetarias [inter]territoriales como puentes de cariño cibernético. Somos más que mentes expuestas a la corriente eléctrica.</p>

        <h4>VR | 09/09/2020</h4>
        <p>Tenemos un mundo y nos esforzamos por hacer la simulación de otro, todavía no se bien por qué. supongo que es para darle un espacio para habitar a la mente, aunque me gustaba más la imaginación.</p>

        <h4>emoji | 01/09/2020</h4>
        <p>Te envío</br>
Este emoji</br>
Para que te</br>
Sientas mejor,</br>
Pero el lenguaje</br>
Se queda cortísimo,</br>
Están nuestras </br>
Emociones</br>
Sintetizadas </br>
En dos</br>
Caracteres.</p>

        <h4>la reina | 27/08/2020</h4>
        <p>Raveena sos la reina de los NPR, qué querés que te diga.</p>

        <h4>Lorax | 24/08/2020</h4>
        <p>Recién en el 2061 vamos a poder imprimir libremente el lorax (si no más tarde), no sé si quedarán árboles tmb.</p>

        <h4>~copiona</h4>
        <p>~ c</br>
~ co</br>
~ cop</br>
~ copi</br>
~ copio</br>
~ copion</br>
~ copiona</br>
~ copiona.</br>
~ copiona.c</br>
~ copiona.cô</br>
~ http://copiona.com</p>

        <h4>Compartan! | 15/08/2020</h4>
         <p>Compartan como hacen las cosas, nadie les va a robar las ideas, todes hacemos y construiremos sobre eso cosas diferentes. No hay mantos cristalinos de ideas posibles en el 2020, internet es la fuga, <a href="https://twitter.com/librenauta/status/1294760119461388296?s=20">join us</a></p>

        <h4>L | 04/08/2020</h4>
        <p>
l i b r e n a u t a</br>
i b r e n a u t a l</br>
b r e n a u t a l i</br>
r e n a u t a l i b</br>
e n a u t a l i b r</br>
n a u t a l i b r e</br>
a u t a l i b r e n</br>
u t a l i b r e n a</br>
t a l i b r e n a u</br>
a l i b r e n a u t</br>  by <a href="https://twitter.com/exxcampos/status/1290427852895256581?s=20">@exxcampos</a></p>

        <h4>haha | 02/08/2020</h4>
        <p>
⠀　　　　　　⠀　༼༼༼༼</br>
⠀　　　　༽༽༽༽⠀　　　　༽༽༽༽</br>
⠀
⠀　⠀༼༼༼༼　　　　　　⠀　༽༽༽༽</br>
⠀
⠀　༽༽༽༽　　　　　　　 　　༼༼༼༼</br>
⠀
⠀　⠀༽༽༽༽⠀　　　　⠀　　༼༼༼༼</br>
⠀
⠀　　　　༼༼༼༼⠀　　 ༽༽༽༽</br>
⠀　　　　　　⠀　༽༽༽༽</p>
        <h4>Muchos libres | 02/08/2020</h4>
        <p>--Violácea, [02.08.20 03:29]: Aunque sos como muchos libres.     Todas las facciones fibonacci posibles. No, vos. Es como que siempre estás haciendo cosas distintas.</br>
        --~Librenautaۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗۗ, [02.08.20 03:30]: Jajajjaa,eso sí</br>
         --Violácea, [02.08.20 03:30]     Y todas son como independientes y en algún punto se unen</p>

        <h4>Piratas</h4>
        <p>Quisiera reunir a todas mis piratas favoritas en un galpón con huerta y taller, para producir todos los proyectos de la utopía.</p>

        <h4>No hay futuro | 22/07/2020</h4>
        <blockquote class="twitter-tweet"><p lang="es" dir="ltr">No hay futuro sin eliminar la propiedad intelectual</p>&mdash; ࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨࣨ (@librenauta) <a href="https://twitter.com/librenauta/status/1281955033257566211?ref_src=twsrc%5Etfw">July 11, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  </p>
        <h4>Imán | 20/07/2020</h4>
        <p>No es loco que los imanes no se gasten? Alguien me podría explicar el fenómeno?, Bueno la posta es que si se gastan, quizá en el tiempo no lo llegamos a ver, y es que pasa alguna magia entre la alineación de átomos en algunos materiales (Lorentz), pero esta alineación no es para siempre, de hecho eso permite imantar una aguja por cierto tiempo <3.    </p>
        <h4>Salvar | 19/07/2020</h4>
        <p>Salvar un árbol, piratear un libro y construir un bot. Listo</p>

        <h4>Copiar | 12/07/2020</h4>
        <p>Cuando dicen copiar un libro es robar: ¿CÓMO ROBAR ALGO QUE OTRA NO DEJA DE POSEER?(bits), hay que hacer un post refutando todas estas declaraciones de clase neoliberales contra la piratería y las colectivizaciones del conocimiento y cultura.</p>

         <h4>Caminar | 10/07/2020</h4>
         <p>Hay ideas que cambian como una camina y es simplemente hermoso.</p>

         <h4>Desobediencia | 06/07/2020</h4>
          <p>La desobediencia en tiempos de trackeo y singularización es: _colectivizar_, perderse y perder(nos) en la bruma, esa espuma indistinguible de bits, esa niebla del lenguaje</p>

         <h4>Quizá II | 21/06/2020</h4>
          <p>Quizá no necesitamos una revolución, el término está vacío. Quizá necesitamos algo que todavía no sabemos nombrar</p>

         <h4>Quizá | 29/05/2020</h4>
          <p>Quizá la nueva forma de hacer huelga para los rappi/glovo/uber es bajar de f-droid fakeGPS y simular que están todos en una plaza. Huelga autónoma invisible, es cierto que si no trabajan no cobran, el derecho a huelga está muy difuso allí, pero lo pienso en términos de desabastecimiento virtual, no tendrían a quién asignar pedidos.</p>

         <h4>So mos | 15/05/2020</h4>
            <p>Somos más que sombras en pos de la eficiencia, somos más que bits cargados de ansiedad</p>

        <h4> La suave anestesia emocional de la vida hiperconectada | 08/05/2020</h4>
           <p>alienadas en los dispositivos de vigilancia, hoy anuncian una aplicación de control del gobierno por el COVID-19, todzs lzs que salgan tendrán que instalarla. la cibernética riéndose en nuestra pieza.</p>

        <h4> Personas favoritas | 07/05/2020</h4>
          <p>-Porque sos una de mis personas favoritas del mundo.</p>
          <p>-te mando un kiss://abrazo <3 <3</p>

        <h4> Ralentización | 13/04/2020</h4>
          <p>Pensaba que la ralentización de la maquinaria haría un parate en nuestras actividades, pero ni en pandemia generalizada mundial las trabajadoras cognitivas dejamos de producir (y más en este momento de virtualización), y el punto interesante de esto es que además de nuestras mentes, la cibernética utiliza los caminos de internet para su despliegue. Me pregunto; si queremos parar todo y cambiarlo, no habría que parar internet?¿queremos apagar internet?, estamos atrapadas entre nuestras herramientas de liberación (aunque ni son tan nuestras).</p>
          <p>Mi mayor miedo es no darme cuenta cuando sea el fin de la especie y yo esté mirando por la ventana y apretando estas mecánicas teclas en simbiosis con las pantallas, sin poder apreciar el final de la civilización.</p>

        <h4> E-books nuestros | 11/04/2020</h4>
          <p>Si alguien entra a los servidores de google, que colectivice toda la data escrita en los captchas, y libere los e-libros que digitalizamos en los últimos 7 años entre todos, también la metadata que hicimos entre todas de las direcciones de casas en gmaps. update: liberar los medios de captchación.</p>

        <h4> Dox | 09/04/2020</h4>
          <p>El problema de intentar no doxearte, es que todas las herramientas intentan individualizarte y los dispositivos institucionales lo hacen por excelencia. Es una carga cognitiva tremenda: que saco una foto y no muestro mi mano, que uso un pad y pongo otro nombre y así infinito.</p>

        <h4> Morse</h4>
        <p>Entré a un pad que armamos en la facu, y al final después de una url de como modelar con software libre había ..-.-....-.- una serie de puntos y guiones  y dije:  alguien dejó un mensaje en morse!, lo traduje y nada.</p>
        <p>qué decepción freak me llevé.</p>

        <h4> [spiritshot] | 13/12/2019</h4>
          <p>Una brisa recorre les cuerpos biocyborgs, transformando el flujo corporal y encapsulado de les habitantes de la plata para informar con un mensaje: El inicio del verano.</p>

        <h4> inútil | 20/11/2019</h4>
          <p>Sentirse inútil es perder contra el capitalismo y su productividad. Somos más que sombras en pos de la eficiencia. Somos más que bits cargados de ansiedad.</p>

        <h4> Sustentable | 25/09/2019</h4>
          <p>Para hablar de sustentabilidad, hay que pensar en la obsolescencia programada y para esto, hay que hablar de capitalismo. Todo objeto se proyecta con un ciclo de vida, con una vida útil, relacionada a su materialidad, siempre vinculada al consumo, comprar, tirar, comprar.
          Entonces cuando decimos ,"hey hay mucho plástico en el mundo/ hay una isla de plástico en el océano" estamos cuestionando el consumismo, estamos pensando que producir dentro del capitalismo nos está matando.
          Por eso me cuesta mucho pensar dentro del capitalismo soluciones, porque sistemáticamente es él, quien está haciendo el mundo inviable, (monocultivo,extracción no convencional)</p>


        <h4> Mientras no | 11/08/2019</h4>
          <p>Mientras no tengamos mecanismos de penalización a políticxs que no cumplen con sus propuestas prometidas en campañas, no votaré. votar ahora me parece una ilusión, una ilusión de "hago política (ejem cada 4 años)[estoy siendo una buena ciudadana]. No existen garantías al votar a los "dirigentes" es más una cuestión de fe y eso no es lo mio. justamente el pueblo no gobierna,si no sus representantes y hacen lo que quieren.</p>

        <h4> Txt | 24/07/2019</h4>
          <p>Odio el chat para debatir temas en serio. tiene pocas herramientas como lenguaje o será que lo efervescente del debate no permite aplicar todo sus colores. Lo que sí siento es que hay (re)interpretaciones y más cuando no nos conocemos personalmente. el audio o el cara a cara, da corporalidad, intención, gestuación, no asincrónico.</p>

        <h4> Vivir más | 23/07/2019</h4>
          <p>Trabajar menos, para vivir más. Ya les conté de ese mantra? y lo digo muy en serio, estos años pienso trabajar lo menos posible para mi supervivencia. no quiero que la tecnología me permita vivir más, quiero que la tecnología me permita trabajar menos.</p>

        <h4> Algoritmos | 16/07/2019</h4>
           <p>Muchas veces pienso el condicionamiento cultural por algoritmos de recomendación,  y no es que sea una práctica nueva, (revistas, canales musicales, radios) sino que la escala y target son súper diferentes. Aparte de mezclar culturas condicionadas y replicar discriminaciones
          <p> Los algoritmos de recomendación tienen otro ritmo, no duermen procesan más rápido, nos están construyendo. Quién sabe el día que leamos un libro y luego caigamos que fue escrito por un software. Quién sabe si ya hay autoras cybernetizadas. Anónimas. Biteadas. ¿Cómo darse cuenta?</p>
          <p> Mucha gente piensa que @archillect es una persona posteando, de hecho yo lo pensé hasta que un día por curiosidad evalúe la regularidad de sus publicaciones y termine en su web. Cybors construyendo estéticas, que maravillan a las humanas como yo. No sé si sentir miedo o admiración</p>
          <p> O una combinación de ambas, no sé esa palabra.</p>

        <h4> Trabajo Trabajo | 04/06/2019</h4>
            <p>El objetivo de la automatización de la producción no es liberarnos del trabajo, es vigilarnos más y más</p>
          <p>De hecho eso dice Graeber, se automatizaron cosas desde los 50'/60' y seguimos trabajando las mismas horas (8/9hs diarias)</p>
          <p>La creación de laburos al pedo y la vigilancia corporativa son consecuencia de no tener como objetivo dejar de trabajar con la automatización de tareas</p>


        <h4> Berger Y Luckmann | 01/06/2019</h4>
          <p>Pensaban a los significantes como individuos encargados de nuestra socialización, hoy esos significantes que filtran la realidad son computadoras. También, Algoritmos</p>


        <h4> Inspiración | 21/05/2019</h4>
          <p>La distopía como inspiración del capitalismo, La ciencia ficción como forma de naturalización, así captamos experiencias de un futuro que será. :(</p>


        <h4> Desastre | 12/05/2019</h4>
          <p>¿Qué hacemos con el desastre ecológico?, llevar bolsas de tela al super no estaría funcionando. En realidad nuestras decisiones  individuales no pueden contra el contexto. toda transformación es colectiva</p>
          <p>Bañarte en 5 minutos menos que lo normal no mueve el potenciómetro, si después en vaca muerta inyectan 2 millones de litros de agua para extraer recursos de forma no convencional</p>
          <p>La responsabilidad no puede ser mía como individuo aislado, es mucho más grande que nuestras acciones individuales., bueno exageré, son solo 1.5 millones de litros de agua</p>
    </section>
</div>
