---
layout: base
title: ~/amigas
---

<div class="copy-log">
	<section>
		<!--dona un bit-->
			<div class="copy-log">
				<div><h2>{{ page.title }}</h2>
				<h1>Un espacio en copiona para hostear proyectos de <i>amigas</i></h1>
				<div class="img-container">
		   </div><p>La idea es poder dar un pequeño espacio para las que necesitan un lugar en internet y quieren construir su sitio por fuera de wordpress/blogger/meddium's y cosos</p>
			 <h3 class="btn-2"> > Quiero hostear en copiona! ¿cómo hago? brrrrrr brrrrrr</h3>
			 <p>Podés enviarme un mail <a href="mailto:librenauta@riseup.net" target="_blank">librenauta@riseup.net</a> y contarme lo que hacés. luego me compartís un git con tu site y le asignamos: o bien un subdominio dentro de copiona [algo.copiona.com] o un dominio que tengas vos <3 </p>
			 <p>En copiona.com hay ~ 20gb de espacio asique la idea es volcar webs y algo de media pero no (películas o archivos muy pesados).si pueden estar en otro lado y linkear desde aquí.</p>
			 <p>Copiona es un jardín/srv/ que comparto con amigas, siempre será gratuito y jamás tendra publicidad. Es la forma que tengo de devolver lo que muchas piratas y amigas de internet me han enseñado estos años. la única condición para los proyectos que conviven en este esspacio es que se adecuen a <a href="https://utopia.partidopirata.com.ar/zines/codigos_para_compartir.html" target="_blank">acuerdos básicos</a> como los que tenemos con una colectiva pirata <a href="https://partidopirata.com.ar" target="_blank">PIP</a></p>
			 <p>¿Dónde está el truco?, no hay truco internet puede ser un lugar hermoso.</p>
	</section>
<section>
	<p>Acá listita de las que ya están en el jardín :3</p>
</section>
<div class="gridWrapper">
							<a class="grid-item imageCell appendItem" href="http://editorialmatrerita.com">
								<div class="hoverContainer hoverClass">
									<div class="gridImage">
									<img src="/img/amigas/editorial-matrerita.png">
								</div>
								<div class="imageCellText">
									<h3>Editorial Matrerita </h3>
									<h4><p>By Valeria Mussio</p></h4>
									<h3 class="date">20.03.2021</h3>
								</div>
								</div>
							</a>
							<a class="grid-item imageCell externalPage appendItem" href="http://Kiterea.com" target="_blank">
								<div class="hoverContainer hoverClass">
									<div class="gridImage">
									<img src="/img/amigas/kiterea.jpg">
								</div>
								<div class="imageCellText">
									<h3 class="italicTitle">Kiterea.com</h3>
									<h4><p>by pierina</p></h4>
									<h3 class="date">13.03.2021</h3>
								</div>
								</div>
							</a>
							<a class="grid-item imageCell appendItem" href="http://osmiornicabiblioteca.com">
								<div class="hoverContainer hoverClass">
									<div class="gridImage">
									<img src="/img/amigas/osmiornica.png">
								</div>
								<div class="imageCellText">
									<h3>Osmiornica Biblioteca </h3>
									<h4><p>By em & +</p></h4>
								</div>
								</div>
							</a>
							<a class="grid-item imageCell externalPage appendItem" href="http://flialectora.copiona.com" target="_blank">
								<div class="hoverContainer hoverClass">
									<div class="gridImage">
									<img src="/img/amigas/flialectora.png">
								</div>
								<div class="imageCellText">
									<h3 class="italicTitle">flialectora.copiona.com</h3>
									<h4><p>by librenauta y azul</p></h4>
								</div>
								</div>
							</a>
							<a class="grid-item imageCell appendItem" href="http://flecha.copiona.com">
								<div class="hoverContainer hoverClass">
									<div class="gridImage">
									<img src="/img/amigas/flecha.png">
								</div>
								<div class="imageCellText">
									<h3>Flecha</h3>
									<h4><p>By Gustako Cornejo</p></h4>
								</div>
								</div>
							</a>
							<a class="grid-item imageCell externalPage appendItem" href="http://otrainternet.copiona.com" target="_blank">
								<div class="hoverContainer hoverClass">
									<div class="gridImage">
									<img src="/img/amigas/otra-internet.png">
								</div>
								<div class="imageCellText">
									<h3 class="italicTitle">Otra internet</h3>
									<h4><p>by Osmiornica biblioteca + ~librenauta</p></h4>
								</div>
								</div>
							</a>
							<a class="grid-item imageCell externalPage appendItem bt-2" href="http://librevirus.cc" target="_blank">
								<div class="hoverContainer hoverClass">
									<div class="gridImage">
									<img src="/img/amigas/librevirus.png">
								</div>
								<div class="imageCellText">
									<h3 class="italicTitle">Librevirus.cc</h3>
									<h4><p>Daniel + ~librenauta</p></h4>
								</div>
								</div>
							</a>
						</div>
