---
layout: base
title: ~/donaunbit
---
	<div class="section copy-log">
<section>
	<!--dona un bit-->
		<div class="copy-log">
			<div><h2>{{ page.title }}</h2> <h3 class="date">01.03.2020</h3></div>
			<h1>/Put your money on <i>me</i></h1>
			<div class="img-container">
		   <img class="noborder" src="{{ url.site }}/img/dona.png" alt="put-your-money">
		   <h3><a href="https://shop.copiona.com/apoya-a-librenauta.html" class="fuente-img" target="_blank">PYMOM</a></h3>

	   </div><p>podés donarme un café o un jugo de limón por medio de estos 2 servicios de transferencia :3, las donaciones las utilizo para tener más tiempo invertido en documentar todo lo que está en copiona.com, aveces pagar parte del servicio de vps de copiona e imprimir fanzines de distribucion gratuita como <a href="https://torrent.copiona.com" target="_blank" >torrent</a></p>
			<ul >
				<li class="sub"><a href="https://www.cafecito.app/librenauta" target="_blank">/cafecito <3</a></li>
				<li class="sub"><a href="https://www.paypal.me/librenauta" target="_blank">/en paypal <3</a></li>
				<li class="sub"><a href="https://mpago.la/2awH1t3" target="_blank">/en mercadopuajjdo</a></li>
			</ul>
			<p>Gracias por visitar mi cyber bunker biteario~~</p>
		</div>
</section>
<section>
	<div class="copy-log">
		<div><h1>personas que aportaron alguna vez a este jardín<3</h1> <h3 class="date">Gracias infinitas</h3></div>
		<p>
| <a href="https://editorialmatrerita.com/">~Val (sustentabilidad de 1 año de copiona)(05.09.2021)</a>
| <a href="https://kiterea.com">pierina (25.07.2021)</a>
| <a href="http://dimaion.com/">damian (08.03.2021)</a>
| <a href="http://canekzapata.net/">canek (04.03.2021)</a>
| <a href="#">anuar (02.03.2021)</a>
| <a href="#">junichi (05.01.2021)</a>
| <a href="#">maca</a>
| <a href="#">martin risso</a>
| <a href="#">hollow</a>
| <a href="https://twitter.com/S_de_M_">flores de fuego</a>
| <a href="#">erreveene</a>
| <a href="#">molturbi</a>
| <a href="#">camaradetubo</a>
| <a href="#">hans</a>
| <a href="https://ournetworks.ca/" target="_blank">ournetworks</a>
| <a href="https://www.instagram.com/tinytechzines/" target="_blank">tinytechzines</a>
		</p>
	</div>
</section>

<section>
	<div class="copy-log">
		<div><h1>Aportes a colectivos/proyectos que mantengo y apoyo dentro de la economía solidaria</h1> </div>
		<ul >
			<li class=""><a href="https://flialectora.copiona.com" target="_blank">/flialaplata.copiona.com un sitio en el que estuve ~12hs</a></li>
			<li class=""><a href="https://flecha.copiona.com" target="_blank">/flecha.copiona.com es un proyecto en el que me llevó ~10hs <3</a></li>
			<li class=""><a href="https://radio.sutty.nl/" target="_blank">/radio.sutty.nl llevó 15hs hacerla, aunque yo participé del diseño más o menos 3hs~ <3</a></li>
			<li class=""><a href="https://adhesiones.sutty.nl/" target="_blank">/adhesiones.sutty.nl/ llevó 6hs~ hacer el diseño<3</a></li>
		</ul>
	</div>
</section>
	</div>
