---
layout: base
title: ~/licuadora
---
<div class="section copy-log">
<!--/log-inicio-->
    <section>
        <div><h2>{{ page.title }}</h2> <h3 class="date">20.06.2020</h3></div>
        <div class="img-container">
            <img  src="{{ url.site }}/licuadora/logo.png" alt="licuadora">
        </div>
        <p>Licuadora es una seccion de mini proyectos/ideas/experimentos :D</p>

    </section>
    <section>
        <div><h2>~/Listita</h2> <h3 class="date"></h3></div>
    </section>
     <div>
         <ul>
             {% for post in site.posts %}
             {% if post.categories contains "licuadora" %}
             <li>
                 <div class="proyectos">
                 <h3 class="date">desde {{post.born}} | última edición {{ post.last_modified_at | date_to_string }} by {{ post.author }}</h3>
                 <h1><a class="sub" href="{{ post.url }}">{{ post.title }}</a></h1>
                 </div>
             </li>
             {% endif %}
             {% endfor %}
     </div>

</div>
