---
layout: base
title: ~/me
---
<div class="section copy-log">
	<!--/me-->
	<section>
			<div><h2>{{ page.title }}</h2><h3 class="date">25.07.2021</h3></div>
			<div class="img-container">
  			  <img src="{{ url.site }}/img/me.jpg" alt="aveces-yo" style="max-width: 100px;">
  			  <img src="{{ url.site }}/img/me.jpg" alt="aveces-yo" style="max-width: 150px;">
		   	  <img src="{{ url.site }}/img/me.jpg" alt="aveces-yo" style="max-width: 200px;">
			</div>
			<div class="txt">
				<h2>aveces yo</h2>
				<p>aveces @librenauta</p>

				<p>:hardware:software:vectors:tinta:hojas:impresión:compartir: :ink:grabado:clonar:copiar:remixar:buscar:pensar:</p>
				<!--<img src="{{ url.site }}/img/me-1.jpg" alt="me">-->
			</div>
			<div class="txt">
				<h2>Software y /libre que utilizo regularmente (desktop)</h2>
				<p>estoy usando a <a href="https://getfedora.org/">fedora</a> como soporte de mi escritorio linux :D, pero también uso debian, manjaro y un centos de por ahí, la verdad que las discusiones sobre las mejores y peores distros me caen bastante mal, creo que los sistemas se adaptan a diferentes necesidades así que usen la distro que les guste más, la que les sea cómoda o la que recomiende una pirata :D (gracias El KaZe)</p>
				<p><a href="https://inkscape.org/es/"><i>inkscape</i></a> para todo lo gráfico, incluido el diseño de esta web :D</p>
				<p><a href="https://www.mozilla.org/es-ES/firefox/"><i>Firefox</i></a> con complementos como <a href="https://addons.mozilla.org/es/firefox/addon/ublock-origin/">ublock-origin</a> y <a href="https://addons.mozilla.org/es/firefox/addon/https-everywhere/">https-everywhere</a> junto a <a href="https://addons.mozilla.org/es/firefox/addon/disconnect/">disconnect</a> para navegar los jardines de internet.</p> El primero bloquea anuncios (sin esto es detestable navegar internet), con el segundo forzas a conectarte siempre con http(s), cifrando el tráfico y el último para desconectar el trackeo de aplicaciones de 3eros
			</div>
			<div class="txt">
				<h2>El jardín del patio de atrás</h2>
				<p>El sitio que estás viendo fue maquetado en inkscape y luego construido de cero por mi <a href="https://gitlab.com/librenauta/copiona" rel="me">(aquí el repo)</a>, con la inmensa ayuda y apoyo de piratas de la interdimensión en todos estos años compartiendo su conocimiento. El framework para formar el sitio que utilizo es <a href="https://jekyllrb.com/">jekyll</a>, con algunos plugins para el orden de los posts. Opté utilizar esta tecnología por las ventajas que traían los sitios estáticos por sobre los dinámicos, como explican en el proyecto <a href="https://sutty.nl/">sutty</a> del cual soy ahora parte <3 </p>

			</div>
			<div class="txt">
				<p>Estoy en el <a href="https://mastodon.social/@librenauta" rel="me">fediverso</a> en la instancia de mastodon.social, también podés contactarme vía <a href="https://t.me/librenauta" rel="me">telegram: @librenauta</a> o por <a href="https://f-droid.org/en/packages/eu.siacs.conversations/">xmpp como librenauta@riseup.net</a></p>
				<p>o enviarme un <a href="https://twitter.com/librenauta" rel="me">tweet @librenauta</a> o dejarme un mensaje en algún proyecto de <a href="https://gitlab.com/librenauta" rel="me">gitlab.com/librenauta</a></p>
			</div>
			<div class="txt">
				<p>Actualmente estoy interesandome muchísimo por la naturaleza: semillas, árboles, musgos y fungis. pero también en el resto de cosas que amo crear y aprender: diseño, tecnologías, editoriales, webs, filosofía, arte, livecoding, torrents y cyborgs, muchos cyborgs <4 </p>
			</div>

			<div class="txt">
				<p><a href="https://keys.openpgp.org/search?q=librenauta@riseup.net" rel="me">mi llave gnupg: 0x28F3D2B3393B6C2D</a> escribime un mensaje cifrado <3</p>
			<div class="highlight">
				<code><p class="btn btn-2">-----BEGIN PGP PUBLIC KEY BLOCK-----

					mQGNBFdhhjsBDACu7jRAVxUriskb9RWE9l4b8ZnvuEpfdFLRxItMAlzEhcoGmKAN55z+//gS
					P4ptZQo8tk4IPeH9qweV1EH3bHjR4hszbYNOE5hfYs/zG3ZIM08Fvd3nEwPyQv6+ckO8Vbqi
					kEOH08LfaozwGw34ny+A/Xu05onKPPawY3bsPk/loWzzP1DXq+KavjAHNRyp2rS8IkNVnPNY
					CipCByDe91f276xpOlk8eu88IVbdcmKY712YxJg1zNdiR29MilDAvcxzB+cuv92JCaZqAt6o
					BQjPGttODBWaPgw81eXWMPg6KtTUOUwHqGs4iSAR5R+dNjIOhSU9tqHxtbLfLKS8M/IcGwuc
					PngZuTkiOv6NGv5kWIaZ1qlbcnEJ+KDoKqNBYQAzp/OmymiadaLDOnfLx6s4wrdZFwdRlCWo
					EfpqdEI0Yy+8aDOvb0sbNnTvqu21Wj9zf4brdYsFF7uk9pK52eW2WxzGzEPSqnbHzNt7OlZB
					qOZVW11mDJ1fd7fszwYnclsAEQEAAbQibGlicmVuYXV0YSA8bGlicmVuYXV0YUByaXNldXAu
					bmV0PokBzgQTAQgAOBYhBL7CMhJLiiXFhZNDrSjz0rM5O2wtBQJc4GxlAhsBBQsJCAcCBhUK
					CQgLAgQWAgMBAh4BAheAAAoJECjz0rM5O2wtsF4L/R4cVELsPch/SuB1DfzIItcNZ8DEYMue
					Q6Quxg8ND5bs76BMdq9QFc61NDD0i8jGZfypKz5WBU2wN84NrRzKyOFCovumoi3ELV4bP/d+
					3hAd9MCrdHHLFPX3JfMNo+6deF2r7OGMmyrVps+GBrThWLb48hmfGBU5K8RIC3yTDZtIOphm
					cv0eHnF8XEW/x+CEBx+2pXbP5Il4ZCW2JzCDnts4TyfJUOBvl/HMYDu/hjhTNE8IinQok7Cj
					FRpL1iaHXvhEfYnWwXpH8nt56tqy9HGeypZGm83bl1OFXdmYYS0srSpeNXQ65/SVqE7zPbQN
					hntT70+0wSUNnPk96co093CqUc5dGLQBAhp5MfhgCZjoktUB5abaor0fBAbd+ML9JT74qSpS
					qzJeT1UaF/k2G7F2BcV1WtYKRqbxrgaYTQxzmwrYAOdOU2o8EEWcS9gsm6XC+1+rnFfhKltb
					Cbpao2tWiQiEWRsB7NDsvASVR6fyFHCmRS1HNE0bAt+qnZYEPrQtTGlicmVuYXV0YSAgPGxp
					YnJlbmF1dGFAcGFydGlkb3BpcmF0YS5jb20uYXI+iQEcBBIBCgAGBQJXj6K9AAoJEEVgMtcX
					pM2cc9kH/RVPjYNZ6Vx1spaI5dx2ymvqQi/lxMefYvI4UybO+HaHqScNgHJIB424VuE+o7CT
					mB0CBwLi/ABuGtd6OgB2WJ3xuK0jZhsDUJcJVRzrd9vpTJoRNOZSf4AruX83jvozw9GRvmPC
					+VQqJqHFCkyxvupCO5A+yMNImsQldBh9YKH7yZJvq6Qxl25iWJ1begDw6YZwYaf/GPTdhLQK
					9pelfLcCCzIdY8sf+MHLVoWap/x7E5r2Kr435gry72HEyCNsoeLaOaytCRckbmdaHSwagHRO
					VUjTcD7hH0eHSZNUe9CE/YJ2x3Y8PXNuxY+CEWRt5gFlmL472iX4z8C9YHhDqnOJATMEEwEI
					AB0WIQQwTkiEGCuPMDqS9j6Eg8fw9AnKNwUCWgG0JgAKCRCEg8fw9AnKNxu8CACGw1ayHeRE
					V+7Lq8ccqKrWnIRdWEbnv2f0sgjM5AY47BctxuoRR0FTvqbEb6GV/i4SWEC6QV2Xm4qZljmp
					+gDgyAU7xnBx7F1705yb/4MiWe34Rbx2TguKCIK5hNC09NB7nPijjznVV6bpreudeLgp9U1E
					56ddI2v0Q8JOS5ddSF+rZQeLcfUlxKNwkey0VBDQBddYIX5GMpGjqa9kGoQddYB5VF3lTE0Z
					qi7fiAbxnpfYN/upyfzVTo5pqNZZfn5VfTiVU4kzBgLlo4zNjRPrQ+RW1JHJB8GCJhPlLA5R
					HC16BKxYVmLSEVDG9tiyf8Df8CNdVYBQU62vvyX0vejhiQGwBBMBCgAaBAsJCAcCFQoCFgEC
					GQEFgldhhjsCngECmwEACgkQKPPSszk7bC2+agv/dcFAqYw6BV8soRChs92dRPvtPH9ktpK6
					u4rV8OR83Mgd7j0EskzsSahV19VQufO2pshwA7Kz7LJWs7F7cXCcC/4NzZWVM5LmktAAe3MZ
					gjQk93rsD4CKDD+zSVRa1jF9AtED9itBREpUuR7b8yBFoHfiAdk/CeeKPS1jDP9zyid3jFnj
					lXnCNDods4IRokDwpyynZmQiYRpgm8IOaknEcgb71vymlDH4bIVl4PXnalWrF9Rd6WlApHNS
					WUAlrOM9mUX77g2YG/zQLYjZLIKAEq1Nx8ASbj+MhnoV7g3+Q41TCQlXLOjGdH4u2//b7Czh
					ZG/ezrxT1pxYU4QhVYdc3Gnt8wTbkJ9AGU4QXUXfrdo7xwZAMdAsPAL+w3UUgMnwe7NpHCta
					o3T6durGqUt0nS/xRs+RarjKCPR+sLbNn8NpnbNYIop2iQiHKx6pSb+9CwSe/C9EpUhbpnzs
					QBQ+e480KBFY7VlXiR+90IHWmQx+UcInkI4bN2LAuicBfV3PiQIcBBMBCAAGBQJZrKfAAAoJ
					ECbb+ArzzKwmDFYP/1LjpBZPZrRZ3gkSwIZWqzMHsHQZDkvDKpzhyYe8UEKmACYDwj6Lo3+s
					S62U+WUSGlltdx0YSrygzce+oo+tcPlfX4NFI8SaQD7O/JO2/14eYYUQSRvU5Fjdl071GNIz
					lFpFjnblPaYHcQzDLk9ntr/E9Vt0R8Fyp37TfHGxtundz65pSaSiengjJDHCdQ2F1pqY5EhW
					w2TJNsJUZbYgi1liOudzSjOvXGhZSgVxukpapkNz2z9X9ENh/SOfTF7b1xwGeT256VpnHRUv
					d6/7ak7kSGExwV3wufxb51tp6I4qxLqiMr1JOzeaG8BD4CQ++ehefJwn7+2N7VF7dyHTmIcz
					3UHvzpksp24q2DB5WlONOMx8MgQLHWR4Qgj7cxToS5jObh83gHbTDmSXwEtVknMlLMjHPewi
					m8ALBN2tHF2yDCNSlt65o7TpvdgRbK5S0y9pHp2A3LRNM9XzjiDyQoRrpBMJEkmHSqPSpQBp
					f22ECc4zmsfhdPD9hgWUZGYv1zMFw7jiki3KMF2GP992TCuqduWMMTRR4LWQk8iKKLnOj2FA
					AwPxNxBzAGlJcID/3j2YuijyAYj7SgiQq+0rkRtKoI/2sEGinLbQM0HKdbIW4z6+CprdCoLS
					N0mti7lyDY851tw53zGlCTEVeGjCDzui5WnafseshGp52h3P37LquQGNBFdhhjsBDACZuNHR
					Eylrv5SFX7pK4Gqg6gMWZJNQjfXVFtKKKTWFlYP5xJs4x9GZLQBHPPDbYRKFZJVgdLdkw7JJ
					CctAVC+pbe+nUPSoSlgfeg3XZetD+Ks6K+P9wuw3/V1cu8t64vVw7a8oib5gwTBtMidkYJhL
					ZxU1a0YRldzbZDulFA+S3RQRk/yszS/nJ96Xyz9lV3hPTsj92oqmi7lAj3q5rkFXVu1Xs9KZ
					TgFutk4+szBpH3nZIpwweAAWTA/m3xKNwlu3ZepfKHacXBI/+lpi6nUgn/6rpUg6I5gkJxVx
					uVbEDW8q4rwVb0n4hGSmWIWYItWeKb1Xo1B7X4gLcgUuPJz492Xxb4Ot50VkztiflIENeeCg
					KD/RdamyjUJQObClXeuiiQGDy6TyOq262HsSwuFBOLY/QKg/iM4dHFh9BkWeVMSZP4EvxvLR
					H570bQPgXhSncuGpSzF+GIJei4ofHnvHiFsLDOLDhOkoqRZm+Tx025WMMpSAdY45DLOxvBIG
					zScAEQEAAYkDPgQYAQoACQWCV2GGOwKbAgGpCRAo89KzOTtsLcDdoAQZAQoABgUCV2GGOwAK
					CRA3WHrPzgkHtqy1C/41u2JAity/AOhTu8R3GWVevrage3/YExXKhF1hxuD2MfLdREnI7dQP
					SlUJUrG2BevsBG3K/PjMeOIHCxa1P1urFiO4gUd1VALkC98SscNhqhAcQOPSmrmkV3awxmp7
					xbiAw9NltM5LvTIpH8d5VSxEFKO9pPyf1hvZn4JM7zY8byZXNaI5gAfCEHlRnoFXKzwREaTW
					MF1Hqxvc0+89TBkAnWizl4I15FjVE0wFj+L0seW/TipbwZJ8tCdXvAWWRu8k0KJmfin4fm+2
					0YtIMT1X4iEn07fHkUYihI+Z49XECcLtw2MYOdLGYyhJ8O5HhDTXtO22uP06apz5fJy6xjpf
					Euwzhxa/ENl//nsWIic3TjHNHzVfnZcvJ3c9/ltK7hKtU/hEtaivz9LxfAOCR3NUOCPl+HC2
					j3NL5hvq/dRlospEFCicYT7ArQ2vu8NPKDNPpSYA97Zhvig2ur8u3frCXT3vz/38nEnqwA0w
					otHrKxaJSdhyWCQ+shruKk6gjVfFLwv8CDdpeCG+/vQAbHnp1FvBauEg5947Wxt2mgHhSDFU
					5gaTXiQXidcX4rZxG1pFWmKdwEaHKsUVHwCGczXYr8vSewacA+zymswn2rpHDCeeTNFnxn4S
					WvDOyVQxu0R3pbatvdoeewkGid7oXy9xmwPdGgeCP73wJ56KS4EXa5sko/iTA7DHevhqr61h
					8PNwBQ/ys8dLgmhLQKwUyVfAE3TKDpZ2788dogbTbUJCbgq5pf7AC5tvb2Z4JmX4AhiSIrkq
					aNKvPeTfXmZAjv2tsRvRsbzk/1yjv86OZ14updLnRs7Vj7HY6O6JP+gGcwqfn8GiA7YzsLDp
					CuEZ9SKEotMuHbpr6TfmiPUnWBN8aNn9RJnKGfv/wpQiJLP22umhdhEdi37+s6MPrrebsdOQ
					WfG6EuTeZ4qgqRbrZA9eAB8BBrrwxPKWLV1OOCozEkqyLAi8/Vd3DHvOI0xc/GynT9+L5CCp
					0dgsZfbgN2WZB0975VvZjL/AXaFWODVNVvKJsfwvuQGNBFdhhjsBDADUjgFcv3cH3w3FeNau
					k4we7P/dTIJ6bEDgsx1W/Kqs667Cx8RkmmXiYgTbvgciTsyvKxK0OkQtUiFq/lkImH+ch7Df
					/x9DGt5Ev3IDbZjOWVeFP/Ps6mBnVvQijGwb/nIrzGrb3l2ralEssxRBlPJNZ2Df+gJYMgsT
					qdXi6rRxZtNO8qyCpL93WXJavC49tKcjRHqWNCmfbxQR4xxbka5QIRwWgY0SUSv2hJlbMPag
					aJgTvk8CE0WusVED2iNaBFJTaY6wbHVQPLfzhdNDkBzqHO2WPUo8NCTvKhHFqvyYjAu+HPXG
					Ah2LQUQXTU4QkIKOncLYdO2rfulCVglwMvayUwr8B9rM4Os8PtXdJIfAuyzL3ftNfMVSN7Iw
					Z7kh+9iBu0qlIGw19TzNKYzpYI+2t0TBY32HLi36TXGmvjTdMDBjqh/usqM9kbgP3mRGQmm/
					di2CMnS301uGzqLYG7O2Uf+ntGot/Rar8hXxgZl9M3jBN6zZaKtwcSLjN/Vryv8AEQEAAYkB
					nwQYAQoACQWCV2GGOwKbDAAKCRAo89KzOTtsLRLuC/9/MOa14UL8NnDChFa9Xuuuaix+Q+Ek
					oN1SxrVtSyc3ves8qMxEDcxpqlmBzN19j4SKSkwzZTSKknZauYG/2rhThYUPb/JY+hEWfLPR
					2Lg5Gv4WAKq/0WWZjD39vfWhXFUTL4mmFI4zIAf/bcRZXKyr1FIju5MqfKqWU1V1b15/9pHG
					ysWCDjeKUvfMwqEzBf963o6zreXBmh9d7PO4cGHWYmYAJ9bn4OB8hCMzaJknT9ggcBjDp6jG
					axZV1bX/s4qkyg9rVIuh2v++FbE328CoQNVC4kL+dauu7hM18vQhYolZVtLa/i4DO+ORgLie
					9n0YBk7TBUX7vINVwEPiAjN/ODNyDgitBTQGvPd4DdAtXNLlBY4mYyVQyEVcG0C5Ut6vZK9K
					+TEUO+OP9YtMw88m3ANA4y+jtb+dsrWbkAjIfp2EJGpcvYGrUF3b/0YPSAvFv73TjK8MhcfI
					lam63i6HfsR16xXZON7U4uKlCaF7qvruKI9CuGRVbgr0iYP84S4==oX3m


        <br>-----END PGP PUBLIC KEY BLOCK-----
	</p></code>
			</div>
			</div>


	</section>
</div>
