<!DOCTYPE html>
<html  lang="es">
{% include head.html %}
  <body>
      <div class="pace  pace-inactive"><div class="pace-progress" style="transform: translate3d(100%, 0px, 0px);" data-progress-text="100%" data-progress="99">
        <div class="pace-progress-inner"></div>
      </div>
      <div class="pace-activity"></div></div>
{% include navMovil.html%}
{{ content }}

    <script>
        paceOptions = {
        elements: true
    };
    </script>
    <!--<script  src="{{ site.url }}/js/loader.js"></script>-->
    <script  src="{{ site.url }}/js/pace.js"></script>
  </body>
</html>
