<!DOCTYPE html>
<html  lang="es">
{% include head.html %}
    {% if page.background %}
  <body style="background: url('{{ page.background }}') top center fixed; background-size: cover; !important;">
    {% else %}
  <body class="bkd bkd-3">
    {% endif %}
{% include cuerpo.html %}
{% include navMovil.html%}
{{ content }}

    <script>
        paceOptions = {
        elements: true
    };
    </script>
    <!--<script  src="{{ site.url }}/js/loader.js"></script>-->
    <script  src="{{ site.url }}/js/pace.js"></script>


  </body>
</html>
