---
layout: base
---
<div class="section copy-log">
        <h1 class="btn btn-2">{{ page.title }}</h1>
        {{ content }}
    <h3 class="date">última edición {{ page.last_modified_at | date_to_string }} by {{ page.author }}</h3>
</div>
